@charset "UTF-8";
.centrar, .mainIndex .main-hombre, .mainIndex .main-mujer, .mainIndex .main-niños, .mainIndex .main-surf {
  position: relative;
  display: inline-block; }
  .centrar img, .mainIndex .main-hombre img, .mainIndex .main-mujer img, .mainIndex .main-niños img, .mainIndex .main-surf img {
    padding: 5px;
    display: block;
    max-width: 100%; }
  .centrar h2, .mainIndex .main-hombre h2, .mainIndex .main-mujer h2, .mainIndex .main-niños h2, .mainIndex .main-surf h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px; }

.conteinerMain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 0px;
  grid-template-areas: "header header" "banner banner" "main-hombre main-mujer" "main-niños main-surf" "footer footer"; }

.containerPages {
  display: grid;
  grid-template-columns: 0.5fr 1.3fr;
  gap: 0px 0px;
  grid-template-areas: "header header" "aside main" "footer footer"; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  grid-area: header; }
  .header .nav-item img {
    width: 20px; }
  .header img {
    width: 150px; }
  .header .bg-body-tertiary {
    height: 120px;
    background-color: coral !important; }
  .header .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end; }

.banner {
  padding-top: 5px;
  grid-area: banner; }

.mainIndex {
  margin-top: 120px; }
  .mainIndex .main-hombre {
    grid-area: main-hombre; }
  .mainIndex .main-mujer {
    grid-area: main-mujer; }
  .mainIndex .main-niños {
    grid-area: main-niños; }
  .mainIndex .main-surf {
    grid-area: main-surf; }

.footer {
  margin-top: 50px;
  grid-area: footer; }
  .footer img {
    padding: 5px;
    width: 50px; }
  .footer ul {
    display: flex;
    justify-content: center; }
    .footer ul li {
      list-style: none;
      border-radius: 5px;
      display: inline-block;
      text-align: center;
      width: 45px;
      height: 45px; }
      .footer ul li a {
        justify-content: center;
        text-decoration: none; }

.title {
  padding-top: 230px; }

.containerPages .mainPages {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .containerPages .mainPages .card {
    margin: 5px;
    display: flex;
    width: 300px;
    height: 400px;
    align-items: center;
    border: 2px solid cornflowerblue; }
    .containerPages .mainPages .card img {
      display: flex;
      align-items: center;
      width: 200px; }
    .containerPages .mainPages .card h6 {
      margin: 5px; }
    .containerPages .mainPages .card a {
      padding-top: 15px; }
      .containerPages .mainPages .card a h5 {
        margin-top: 6px;
        border: 2px solid orange;
        border-radius: 5px; }
    .containerPages .mainPages .card h4 {
      display: flex; }
    .containerPages .mainPages .card h1 {
      margin-top: 200px; }

.containerPages .aside {
  margin-top: 120px; }
