@charset "UTF-8";
.centrar, .main-hombre, .main-mujer, .main-niños, .main-surf {
  position: relative;
  display: inline-block; }
  .centrar img, .main-hombre img, .main-mujer img, .main-niños img, .main-surf img {
    padding: 5px;
    display: block;
    max-width: 100%; }
  .centrar h2, .main-hombre h2, .main-mujer h2, .main-niños h2, .main-surf h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px; }

.conteinerMain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 0px;
  grid-template-areas: "header header" "banner banner" "main-hombre main-mujer" "main-niños main-surf" "footer footer"; }

.containerPages {
  display: grid;
  grid-template-columns: 0.5fr 1.3fr;
  grid-template-rows: 0.4fr 2.2fr 0.4fr;
  gap: 0px 0px;
  grid-template-areas: "header header" "aside main" "footer footer"; }

.header {
  grid-area: header; }
  .header .nav-item img {
    width: 20px; }
  .header img {
    width: 150px; }
  .header .bg-body-tertiary {
    height: 120px;
    background-color: coral !important; }
  .header .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end; }

.banner {
  padding-top: 5px;
  grid-area: banner; }

.main-hombre {
  grid-area: main-hombre; }

.main-mujer {
  grid-area: main-mujer; }

.main-niños {
  grid-area: main-niños; }

.main-surf {
  grid-area: main-surf; }

.footer {
  grid-area: footer; }
  .footer img {
    padding: 5px;
    width: 50px; }
  .footer ul {
    display: flex;
    justify-content: center; }
    .footer ul li {
      list-style: none;
      border-radius: 5px;
      display: inline-block;
      text-align: center;
      width: 45px;
      height: 45px; }
      .footer ul li a {
        justify-content: center;
        text-decoration: none; }

.containerPages .main {
  display: flex; }
  .containerPages .main .card {
    display: flex;
    width: 300px;
    height: 450px;
    align-items: center;
    border: 2px solid cornflowerblue; }
    .containerPages .main .card img {
      display: flex;
      align-items: center;
      width: 250px; }
    .containerPages .main .card h6 {
      margin: 5px; }
    .containerPages .main .card h5 {
      border: 2px solid orange;
      border-radius: 5px; }
    .containerPages .main .card h4 {
      display: flex; }
