.conteinerMain {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 0px 0px; 
    grid-template-areas: 
      "header header"
      "banner banner"
      "main-hombre main-mujer"
      "main-niños main-surf"
      "footer footer";}
  
  

  
  
  
 
  
  