.footer {
    margin-top: 50px;
    img {
        padding: 5px;
        width: 50px;
    }

    ul {

        display: flex;
        justify-content: center;

        li {

            list-style: none;
            border-radius: 5px;
            display: inline-block;
            text-align: center;
            width: 45px;
            height: 45px;

            a {
                justify-content: center;
                text-decoration: none;
            }

        }

    }

    grid-area: footer;
}