 .header {
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 9999;

     .nav-item {
         img {
             width: 20px;
         }
     }

     img {
         width: 150px;
     }

     .bg-body-tertiary {
         height: 120px;
         background-color: coral !important;
     }

     .navbar-expand-lg .navbar-collapse {
         justify-content: flex-end;
     }

     grid-area: header;
 }